* {
    margin: 0 auto;
}

body {
    min-height: 100%;
    background-color: black;
}

.wrapper {
    font-family: 'Abril Fatface', cursive;
    
}


header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.header-nav_a {
    text-decoration: none;
    font-size: 24px;
    color: white;
    padding: 0 20px;
}

.header-nav_a:hover {
    color: grey;
    transition: 0.8s ease;
}

.title-logo_img {
    max-width: 300px;
    max-height: 90px;
}

.social-icons_img{
    max-width: 35px;
    padding: 0 20px;
}

.contackt{
    background-color: rgb(153, 127, 127);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 220px 0% 180px;
}

@media (min-width: 1800px)   {
    .contackt {
    background-color: rgb(153, 127, 127);    
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 540px 0% 400px;
    }
}

h1 {
    font-size: 90px;
}

h2 {
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 15px 0;
}

h1 ,
h3 {
    color: rgb(240, 234, 234);
    margin: 5px 5px;
    padding: 5px 5px;
}

button {
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 15px;
    background-color: rgb(153, 127, 127);
    color: rgb(240, 234, 234);
    border: 1px solid white;
    border-radius: 5px;
    padding: 3px 5px;
    padding-bottom: 7px;
    margin: 20px;
    cursor: pointer;
}

.container {
    background-color: black;
    position: sticky;
}

.container-img {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container-img_works {
    margin: 10px 10px;
    border: 1px solid black;
    max-width: 380px;


    -webkit-filter: grayscale(99%); 
    filter: grayscale(99%); 
}

.container-img_works:hover {
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); 
    visibility: visible;
    transition: 1s;
}

p {
    font-size: 60px;
    color: white;
    display: inline-block;
    transform: translate(96px, -250px);
    
    transition: .5s ease;
    opacity: 0;
    max-width: 2px;
}

.content {
    max-width: 400px;
    max-height: 350px;
}

.content:hover p {
    opacity: 1;
    cursor: pointer;
}